.footer {
    background: #1e1e1e;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}
  
  
.footer__content {
    display: flex;
    justify-content:flex-start;
    margin-left: 17%;
    margin-top: 1.2%;
}


.footer__content a {
    margin-right: 10px; 
    text-decoration: none; 
}

.rights__content{
    display: flex;
    justify-content:flex-start;
    margin-left: 17%;
    margin-top: 1.2%;
}
.iconos{
    width: 10px;
    height: 10px;
}
  